include LICENSE
include README.md
include pyproject.toml
include pytest.ini

recursive-include tests *.py
recursive-include agent_mcp *.py
recursive-include agents *.py
recursive-include config *.py
recursive-include loggers *.py
recursive-include model_providers *.py
recursive-include prompts *.py
recursive-include tools *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
recursive-exclude * *.so